<section class="container">
    <form class="form" action #form="ngForm" (ngSubmit)="submitForm(form)">
        <h1 class="formtitle">Signup Form </h1>
        <!-- Form Error Messages -->
        <div class="formErrorMsg" *ngIf="!form.valid && formsubmit">
            There is problem with your form information. Please correct it.

        </div>

        <!-- collect username -->
        <div class="form-control">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username"
                placeholder="Enter your username" required
                [(ngModel)]="newuser.name"
                autofocus
                #name="ngModel"
                (change)="displaylog(name)"
                minlength="3" maxlength="32">

            <div class="validMsg" *ngIf="name.invalid && name.touched">
                <p *ngIf="name.errors?.['required']">Username is invalid</p>
                <p *ngIf="name.errors?.['minlength']">Name must be at least 3
                    characters</p>

            </div>
        </div>
        <!-- collect email -->
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
                [(ngModel)]="newuser.email"
                required
                autofocus
                email="userEmail"
                #email="ngModel"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                maxlength="128">
            <!-- Error messages -->
            <div class="validMsg" *ngIf="email.invalid && email.touched">
                <p *ngIf="name.errors?.['required']">Email is required!</p>
                <p *ngIf="name.errors?.['email']">Invalid email format </p>
            </div>
        </div>

        <!-- submit button -->
        <div class="form-control">
            <button type="submit" class="btnsubmit"
                [disabled]="formsubmit && !form.valid ">Submit</button>

        </div>
        <!-- Json display -->
        <div class="json_display" *ngIf="!form.valid && form.submitted">
            <p>Thank you for signing up <b>{{parseJsonName}}</b><br> we sent the
                conformation email to <b>{{parseJsonEmail}}</b></p>
        </div>
        <!-- loop all users -->
        <div *ngIf="!form.valid && form.submitted">
            <ul>
                <li *ngFor="let user of model.getuser()">{{user.id}} --
                    {{user.name}} , {{user.email}}</li>
            </ul>
        </div>
    </form>

</section>