img{width: 100%; border-radius: 20px; border: dotted 5px rgb(255, 255, 255);}

.container{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
    padding: 10px;
}
.card{background-color: rgba(0, 0, 0, 0.8); color: white; padding: 20px; text-align: center; border-radius: 10px;}
.card :hover{transform: scale(1.03);}
.colorselector{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}
.selectcolor{
color: white; padding: 20px; text-align: center; border-radius: 10px; border: 2px solid white; width:fit-content+10px;
}