<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <main class>
      <h1 class="feedtitle1">Feedback</h1>
      <h2 class="feedtitle2">Leave a review</h2>
      <hr>
      <form class="form_post" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.name.errors }}
        <div class="form-group">
          <p><label for="{{ form.name.id_for_label }}">Name:</label></p>
          {{ form.name }}

          {{ form.email.errors }}
          <p><label for="{{ form.email.id_for_label }}">Email:</label></p>
          {{ form.email }}
        </div>

        {{ form.message.errors }}
        <p><label for="{{ form.message.id_for_label }}">Message:</label></p>
        {{ form.message }}

        {{ form.rating.errors }}
        <div class=" rating-block">
          <div class="star-rating">
            {% for value in "54321" %}
            <input type="radio" name="rating" value="{{ value }}"
              id="rating_{{ value }}" class="star-rating" required>
            <label for="rating_{{ value }}" class="star">☆</label>
            {% endfor %}
          </div>
        </div>

        <button class="btn-submit" type="submit">Submit</button>
      </form>
    </main>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"></script>
  </body>
</html>
